{% extends "layout.html" %}
{% block body %}
<head>
    <script src="//cdn.bootcss.com/echarts/4.2.1/echarts.min.js"></script>
</head>
{% if cpupercen %}
<div id="total_cpu" style="width: 1000px;height:600px;"></div>
<script type="text/javascript">
        var percen = {{ cpupercen|safe }};
        var percen_char = echarts.init(document.getElementById('total_cpu'));
        var percen_opt = {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
    series: [
        {
            name: '业务指标',
            type: 'gauge',
            detail: {formatter:'{value}%'},
            data: [{value: percen, name: 'CPU总体使用率'}]
        }
    ]
};
        percen_char.setOption(percen_opt)
    </script>
{% endif %}
{% if podcpu %}
    <div id="cpu_usage" style="width: 1000px;height:800px;"></div>
    <script type="text/javascript">
        var cpu_data = {{ podcpu|tojson|safe }};
        var cpu_chart = echarts.init(document.getElementById('cpu_usage'));
        var option = {
            title: {
                text: '容器CPU使用率'
            },
            tooltip: {},
            legend: {
                data:['单位Core']
            },
            yAxis: {
                data: cpu_data['podnames']
            },
            xAxis: {},
            series: [{
                name: 'CPU',
                type: 'bar',
                data: cpu_data['values']
            }]
        };
        cpu_chart.setOption(option)
    </script>
{% endif %}
{% endblock %}