{% extends "layout.html" %}
{% block body %}
<head>
    <title>pods</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/metro/easyui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/mobile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/icon.css') }}">
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.easyui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.easyui.mobile.js') }}"></script>
</head>
<body>
    {% if pods %}
    <table id="dg" data-options="header:'#hh',singleSelect:true,border:false,fit:true,fitColumns:true,scrollbarSize:0">
        <thead>
            <tr>
                <th data-options="field:'pod_name',width:80,resizable:true">Pod Name</th>
                <th data-options="field:'pod_ip',width:100,resizable:true">Pod IP</th>
                <th data-options="field:'host_ip',width:100,resizable:true">Host IP</th>
                <th data-options="field:'restart_count',width:30,align:'right',resizable:true">Restart count</th>
                <th data-options="field:'status',width:80,align:'right',resizable:true">Status</th>
            </tr>
        </thead>
    </table>
    <div id="hh">
    	<div class="m-toolbar">
    		<div class="m-title">Pods list</div>
    	</div>
    </div>
	<script>
        var data = {{ pods|list|safe }};
		$(function(){
			$('#dg').datagrid({
                fitColumns: true,
				data: data
			});
		});
	</script>
    {% endif %}
</body>
{% endblock %}